footer {
	padding: $sectionpadding/2 0 0;
	position: relative;
	z-index: 9;

	.section-intro {
		text-align: center;
		margin: 0 0 50px;

		img {
			margin: 0 0 20px;
		}
	}

	.wrapper {
		background: $dkblue;
		padding: 75px 55px 55px;
		position: relative;

		&:first-of-type {
			margin: 0 0 40px;
		}

		&:before {
			content: "";
			position: absolute;
			height: calc(100% - 20px);
			width: calc(100% - 20px);
			top: 10px;
			left: 10px;
			border: 5px solid white;
		}

		p {
			color: white;
			font-size: 16px;
			line-height: 1.5em;

			span {
				font-weight: 600;
				color: $teal;
				display: block;
				font-size: 18px;
				line-height: 2em;
			}

			a {
				color: white;
			}
		}

		.gform_wrapper {
			margin: 0;
			position: relative;
			z-index: 3;
		}

		.gform_body {

			ul.gform_fields {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-align-content: stretch;
				-ms-flex-line-pack: stretch;
				align-content: stretch;
				-webkit-align-items: stretch;
				-ms-flex-align: stretch;
				align-items: stretch;
				width: calc(100% - 150px);

				@media screen and (max-width: 590px) {
					width: 100%;
				}				

				li.gfield {
					margin-top: 0px;
					padding-top: 0;
					-webkit-order: 0;
					-ms-flex-order: 0;
					order: 0;
					-webkit-flex: 0 1 30%;
					-ms-flex: 0 1 30%;
					flex: 0 1 30%;
					-webkit-align-self: auto;
					-ms-flex-item-align: auto;
					align-self: auto;

					@media screen and (max-width: 590px) {
						-webkit-flex: 0 1 100%;
						-ms-flex: 0 1 100%;
						flex: 0 1 100%;
					}

					.gfield_label {
						display: none;
					}
				}
			}

			input {
				background: transparent;
				border: 0 !important;
				border-bottom: 2px solid white !important;
				padding: .35em 0 !important;
				font-weight: 300 !important;
				font-size: 18px;
				color: #5D636B;
				width: 100% !important;

				@media screen and (max-width: 590px) {
					margin: 0 !important;
				}
			}

			.gfield_description {
				padding-top: 5px;
				font-weight: 300;
				font-size: 16px;
				color: white;
			}
		}

		.gform_footer {
			padding: 0;
			margin: 0;
			clear: both;
			width: auto;
			display: inline-block;
			position: absolute;
			top: 20px;
			right: 0;

			@media screen and (max-width: 590px) {
				top: auto;
				position: relative;
				margin: 20px 0 0 !important;
			}			

			.gform_button {
				@include trans;
				height: 44px;
				font-weight: 600;
				font-size: 14px !important;
				color: $dkblue;
				letter-spacing: 0;
				text-align: left;
				line-height: 44px;
				background: white;
				padding: 0 20px;

				&:hover {
					background: $teal;
				}
			}
		}
	}

	.credits {
		padding: 30px;
		text-align: center;
		background: rgba(37, 46, 104, 0.91);

		// Copyright
		.copy {
			font-size: 14px;
			color: white;
			margin: 0;

			a {
				font-weight: 600;
				color: $teal;
				text-transform: uppercase;
			}
		}

		// Neon Canvas logo
		.nc-logo {
			@include trans;
			display: block;
			margin: 1.2em auto 0;
			max-width: 120px;
			opacity: 1;

			&:hover {
				opacity: 1;
			}
		}
	}
}

body .userway {

	top: auto !important;
    bottom: 13px !important;
    left: 13px !important;

	@media screen and (max-width: $mediumdevice) {
		margin-bottom: $mobilebarheight !important;
	}
}  