header {
	transition: all 0.33s;
  -moz-transition: all 0.33s;
  -webkit-transition: all 0.33s;
  -o-transition: all 0.33s;

	top: 0;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 99;
  background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);

	@media screen and (min-width: $mediumlargedevice) {
		height: 187px;
	}

	&.active {
		height: 120px;
	}

	// Logo
	.logo {
		position: absolute;
    left: 20px;
    top: 15px;

	    @media screen and (min-width: $mediumlargedevice) {
				left: 40px;
				top: 95px;

				&.active {
					top: 65px !important;
				}
	    }
	}

	.utility-wrapper {
		background: $dkblue;
		height: 44px;
	}

	#utility-left {
		left: 40px;
		top: 0;
	}

	#utility-right {
		right: 40px;
		top: 0;
	}

	#utility-left, #utility-right {
    position: absolute;
    color: $teal;
		z-index: 999;
    padding: 0;
    margin: 0;
    line-height: 44px;

    @media screen and (max-width: $mediumlargedevice) {
    	display: none;
    }

    li {
    	display: inline-block;
    	padding: 0 5px;
    	position: relative;
			font-size: 14px;
			color: $teal;
			letter-spacing: 1.5px;
			text-align: right;
			font-weight: 600;

			a {
				color: $teal;
			}
  	}
	}



	// Main Navigation After Scroll
	nav {
    position: absolute;
    right: 50px;
    top: 44px;
    z-index: 9;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $grey !important;

		// Menu
		ul#primary-menu {
			margin: 0;
			padding: 0;

			@media screen and (max-width: $mediumlargedevice) {
				display: none;
			}

			&.active {

				> li {
					line-height: 76px !important;

					&:last-child a {
						&:after {
							opacity: 0 !important;
						}
					}
				}
			}

			> li {
				position: relative;
				display: inline-block;
				padding: 0 40px 0 0;
				line-height: 143px;

				&:hover {
					ul {
						@include visible;
					}
				}

				a {
					color: $grey;
					font-weight: 600;
					font-size: 14px;
					letter-spacing: 1.17px;
					position: relative;
				}

				&.menu-item-has-children a:before {
			    content: "";
			    width: 0;
			    height: 0;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-top: 5px solid #93DDDF;
			    position: absolute;
			    bottom: -12px;
			    left: 50%;
			    transform: translateX(-50%);
				}

				&:last-child {
					padding-right: 0;

					a {
						@extend .btn;
						background: $dkblue;
						border: 2px solid $dkblue;
						color: white;
						letter-spacing: 0.5px;
						position: relative;

						span {
							vertical-align: middle;
							margin: 0 0 0 5px;
						}

						&:hover {
							opacity: 1;
							background: darken($dkblue, 15%) !important;
							color: teal !important;
						}
					}

					ul {
						left: auto;
						right: 0;
					}
				}

				// Sub menu
				> ul {
					@include trans;
					@include hidden;
					position: absolute;
					left: 0;
					margin-top: -2px;
			    top: 100%;
					background: white;
					white-space: nowrap;
					background: $teal;
					padding: 10px 15px;

					&:before {
						display: block;
					}

					li {
						position: relative;
						padding: 0;
						overflow: hidden;
						line-height: 1.25em;

						a {
							color: $dkblue;
							font-weight: 700;
					    text-transform: uppercase;
					    letter-spacing: 1px;
							line-height: 2em;

							&:hover {
								opacity: .5;
							}
						}

						ul {
							display: none;
						}

						&:hover {
							// Third Level Nav
							ul {
								display: block;
						    position: absolute;
						    background: white;
						    padding: 20px;
						    // border-radius: $default-border-radius;
						    left: 99%;
						    transform: translateY(-20%);
						    box-shadow: $default-box-shadow;
						    top: 50%;
							  }
							}
						}
					}
				}
			}
		}

		@media only screen and (max-width: $smalldevice) {
			display: none;
		}
}
