header {
	@include trans;
	top: 0;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 99;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.0);

	@media screen and (min-width: 1200px) {
		height: 157px;
	}

	&.active {
		height: 120px;
		box-shadow: 0 0 15px rgba(0,0,0,0.15);

		@media screen and (max-width: 1200px) {
			height: 80px;
		}

		ul#primary-menu {
			margin: 0;
		}

		nav ul#primary-menu>li.treatments-li ul.sub-menu {
			top: 74px;
		}

		nav {
			top: 42px;
		}
	}

	// Logo
	.logo {
		position: absolute;
		left: 20px;
		top: 10px;

		img {
			max-width: 200px;
		}

	    @media screen and (min-width: 1200px) {
			left: 40px;
			top: 75px;

			&.active {
				top: 50px !important;
			}
	    }
	}

	a.mobile-call-btn {
		position: absolute;
		top: 19px;
		right: 70px;
		height: 45px;
		width: 45px;
		border: 1px solid #eceaea;
		text-align: center;
		line-height: 45px;
		border-radius: 45px;

		@media screen and (min-width: 1200px) {
			display: none;
		}
	}

	a.mobile-consult-btn {
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		text-align: center;
		background: $dkblue;
		line-height: 40px;
		color: white;

		&.active {
			visibility: hidden;
			opacity: 0;
		}

		@media screen and (min-width: 1200px) {
			display: none;
		}

		@media screen and (max-width: $mediumdevice) {
			display: none !important;
		}
	}

	.utility-wrapper {
		background: $dkblue;
		height: 44px;

		@media screen and (max-width: 1200px) {
			display: none;
		}
	}

	#utility-left {
		left: 40px;
		top: 0;
	}

	#utility-right {
		right: 40px;
		top: 0;
	}

	#utility-left, #utility-right {
		position: absolute;
		color: $teal;
		z-index: 999;
		padding: 0;
		margin: 0;
		line-height: 44px;

		@media screen and (max-width: 1200px) {
			display: none;
		}

		li {
			display: inline-block;
			padding: 0 5px;
			position: relative;
			font-size: 14px;
			color: $teal;
			letter-spacing: 1.5px;
			text-align: right;
			font-weight: 600;

			a {
				color: $teal;
			}
		}
	}



	// Main Navigation After Scroll
	nav {
		@include trans;
	    position: absolute;
	    right: 50px;
	    top: 28px;
	    z-index: 9;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $grey !important;

	// Menu
	ul#primary-menu {
		@include trans;
		margin: 35px 0 0px;
		padding: 0;

		@media screen and (max-width: 1200px) {
			display: none;
		}

		&.active {

			> li {
				line-height: 76px !important;

				&:last-child a {
					&:after {
						opacity: 0 !important;
					}
				}
			}
		}

		> li {
			position: relative;
			display: inline-block;
			padding: 0 40px 0 0;
			line-height: 70px;

			&.treatments-li {

				ul.sub-menu {
					flex: 1;
					display: flex;
					flex-wrap: nowrap;
					padding: 0;
					position: absolute;
					right: 0;
					left: auto;
					width: 100%;
					max-width: 1100px;
					min-width: 700px;
					margin: -2px 0 0;

					li {
						flex: 0 0 33%;
						padding: 10px 30px;
						overflow: hidden;
						text-align: right;	

						&:nth-child(2) {
							background: rgba(0,0,0,0.1) !important;
						}

						&:hover {
							background: none;
						}

						a {
							color: $teal;
							font-weight: 700;
							text-transform: uppercase;

							&:hover {
								opacity: .5;
							}							

							&:before {
								display: none !important;
							}
						}

						ul {
							flex-wrap: wrap;
							position: relative;
							top: auto !important;
							left: auto;
							background: transparent !important;
							transform: none;
							min-width: auto;
							margin: 10px 0 0;

							li {
								flex: 0 0 100%;
								padding: 0;
								margin: 0 0 15px;

								&:nth-child(2) {
									background: transparent !important;
								}

								a {
									color: white;
									font-weight: 400;
									text-transform: none;
									flex-wrap: wrap;
									white-space: initial;
									line-height: 1em;	

									&:hover {
										color: $teal;
									}								
								}
							}
						}					
					}
				}
			}			

			&:hover {
				ul {
					@include visible;
				}
			}

			a {
				color: $grey;
				font-weight: 600;
				font-size: 16px;
				letter-spacing: .5px;
				position: relative;
			}

			&.menu-item-has-children a:before {
			    content: "";
			    width: 0;
			    height: 0;
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-top: 5px solid $teal;
			    position: absolute;
			    bottom: -12px;
			    left: 50%;
			    transform: translateX(-50%);
			}

			&:last-child {
				padding-right: 0;

				a {
					@extend .btn;
					background: $yellow;
					border: 2px solid $yellow;
					color: #252e68;
					letter-spacing: 0.5px;
					position: relative;

					span {
						vertical-align: middle;
						margin: 0 0 0 5px;
					}

					&:hover {
						opacity: 1;
						background: darken($dkblue, 15%) !important;
						border: 2px solid darken($dkblue, 15%) !important;
						color: $teal !important;
					}
				}

				ul {
					left: auto;
					right: 0;
				}
			}

			// Sub menu
			> ul {
				@include trans;
				@include hidden;
				position: absolute;
				left: 0;
				margin-top: -2px;
		    	top: 100%;
				white-space: nowrap;
				background: $dkblue;
				padding: 20px 25px;

				&:before {
					display: block;
				}

				li {
					position: relative;
					padding: 0;
					overflow: hidden;
					line-height: 1.25em;

					a {
						color: white;
						font-weight: 400;
						text-transform: none;
						letter-spacing: 1px;
						line-height: 2em;
						text-transform: none;

						&:hover {
							color: $teal;
						}
					}

					ul {
						display: none;
					}

					}
				}
			}			
		}
	}
}
