// Mobile menu toggle
.menu-toggle {
	@include trans;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	line-height: $navheight;
	height: $navheight;
	width: $navheight;
	z-index: 8;
	background: transparent;
	border: 0;

	span {
		top: 50%;
		left: 50%;
		margin-left: -7px;
	}
	span,
	span:before,
	span:after {
		@include trans;
		content: '';
		cursor: pointer;
		height: 2px;
		width: 25px;
		background: $teal;
		position: absolute;
		display: block;
	}
	span:before {
		top: -8px;
	}
	span:after {
		bottom: -8px;
	}
	&:focus {
		outline: none;
	}
	&.active {

		span {
			background: transparent !important;

			&:before,
			&:after {
				top: 0;
			}
			&:before {					
				transform: rotate(45deg);
			}
			&:after {					
				transform: rotate(-45deg);
			}
		}
	}

	@media only screen and (max-width: $mediumlargedevice) {
		display: block;
	}
}

// Mobile menu drawer
$li-height: 74px;
$li-border: 1px solid rgba(255,255,255,0.35);

#side-menu {
	@include trans;
	transition-duration: .44s;
	position: fixed;
	height: 100%;
	width: 100%;
	background: $dkblue;
	top: 0;
	right: -100%;
	text-align: left;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 9;	
	max-width: 300px;

	@media screen and (max-width: $smalldevice) {
		max-width: 100%;
	}

	&.active {
		right: 0;
	}

	ul#primary-menu {
		margin-top: 80px;
		display: block;
		padding: 0;
		background: $teal;

		> li {
			position: relative;
			margin: 0;
			padding: 0;
			float: none;
			display: inline-block;
			width: 100%;
			text-align: left;
			line-height: 74px;

			&:last-of-type a {
				border-bottom: $li-border;
			}

			&:first-of-type a {
				border-top: 0 !important;
			}			

			a {
				font-weight: 700;
				font-size: 1.25em;
				padding: 0 20px;
				display: block;
				border-top: $li-border;
				color: white;

				&:hover {
					opacity: .5;
				}
			}	

			a.expand {
				display: block;
				height: $li-height;
				width: $li-height;
				position: absolute;
				top: 0;
				right: 0;
				padding: 15px;
				cursor: pointer;
				border-left: $li-border;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					background: $primary;
					width: 2px;
					height: 10px;
					margin: -5px 0 0 -1px;
					border-radius: 6px;
					-webkit-transform-origin: center;
					-ms-transform-origin: center;
					transform-origin: center;					
				}

				&:before {
					-webkit-transform: rotate(-45deg) translate(-4px, 0px);
					-ms-transform: rotate(-45deg) translate(-4px, 0px);
					transform: rotate(-45deg) translate(-4px, 0px);
				}

				&:after {
					webkit-transform: rotate(45deg) translate(4px, 0px);
					-ms-transform: rotate(45deg) translate(4px, 0px);
					transform: rotate(45deg) translate(4px, 0px);
				}

				&.active {

					&:before {
						-webkit-transform: rotate(-45deg) translate(0px, 4px);
						-ms-transform: rotate(-45deg) translate(0px, 4px);
						transform: rotate(-45deg) translate(0px, 4px);						
					}

					&:after {
						-webkit-transform: rotate(45deg) translate(0px, 4px);
						-ms-transform: rotate(45deg) translate(0px, 4px);
						transform: rotate(45deg) translate(0px, 4px);						
					}
				}
			}			

			ul {
				padding: 0;
				margin: 0;
				display: none;
				position: relative;
				float: none;

				&.active {
					display: block;
				}

				li {
					display: block;
					width: 100%;
					position: relative;
					height: auto;

					a.expand {
						height: 65px;
					}
					
					a {
						color: $primary;
						font-size: 1em;
						padding: 0 35px;
						display: block;
						font-weight: normal;	
						line-height: 2em;	
					}

					// Third Level Nav
					ul {
						background: $gray-70;
						margin: 0;
					}
				}
			}
		}
	}

	ul#mobile-utility {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			line-height: 2em;

			a {
				color: white;
				padding: 0 20px;
				line-height: 1.5em;

				&:hover {
					opacity: .5;
				}
			}		
		}		
	}

}