// Default structure for Gravity Forms
.gform_wrapper {
	.gform_body {
		width: 100% !important;

		ul.gform_fields {
			li.gfield {
				padding-right: 0;

				&.no-label {
					label,
					label.gfield_label {
						display: none !important;
					}
				}

				// Labels
				label,
				label.gfield_label {
					font-family: $mainfont;
					font-weight: 700;
					font-size: 18px;
					color: $teal;

					// Required marks
					.gfield_required {
						display: none;
					}
				}

				// Inputs
				div.ginput_container {

					// General
					input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
					textarea {
						@include trans;
						font-family: $mainfont;
						font-size: 18px;
						padding: 1.25em;
						max-width: 100%;
						outline: 0;
						border: solid 1px $gray-70;
						width: 100%;
						font-weight: 400;
						margin: 0 0 15px;						

						&:focus {
							border-color: $base;
						}
					}

					// Checkboxes
					.gfield_checkbox {
						input[type="checkbox"] {
							margin-top: 0;
							margin-right: .3em;
						}
					}
				}
			}

			// Multicolumn layout
			.multicolumn-wrapper {
				ul {
					li {
						float: left;
						width: 50%;
						clear: none;

						&:first-child {
							padding-right: 2.5%;
						}
					}
				}
			}
		}
	}

	.gform_footer {
		margin: 0 !important;

		// Buttons
		input[type="submit"]{
			@include trans;
			@include btn;
		}
	}

	.gform_next_button,
	.gform_previous_button,
	.gform_button {
		@include trans;
		@include btn;
	}

	// Placeholder styling
	::-webkit-input-placeholder {
	   color: $gray-30;
	}
	:-moz-placeholder {
	   color: $gray-30;  
	}
	::-moz-placeholder {
	   color: $gray-30;  
	}
	:-ms-input-placeholder {  
	   color: $gray-30;  
	}
}

div#gform_wrapper_6 {

	h2.gsection_title {
		display: block;
		color: #252e68;
		font-size: 32px !important;
		padding: 0 0 15px !important;
	}

	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	textarea {
		padding: 10px 15px !important;
	}

	label {
		font-weight: 400 !important;
		font-size: 16px !important;
		color: #252e68 !important;
	}
}

.gform_wrapper .percentbar_blue {
    background-color: #2aace2 !important;
    color: #FFF;
    background: #2aace2 !important;
}

.gform_wrapper .gf_progressbar {
    padding: 0 !important;
    background-color: none !important;
}

h3.gf_progressbar_title {
    margin: 0 0 10px 0!important;
}