// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $secfont;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

h1 {

	@media only screen and (max-width: $mediumdevice) {

	}
}

h2 {

	@media only screen and (max-width: $mediumdevice) {

	}
}

h3 {

	@media only screen and (max-width: $mediumdevice) {

	}
}

h4 {

	@media only screen and (max-width: $mediumdevice) {

	}
}

h5 {

	@media only screen and (max-width: $mediumdevice) {

	}
}

// Paragraph
p {
	
}