// Headings
h1,
h2,
h3 {
	font-family: $secfont;
	font-weight: 600;
	margin: 0 0 25px;
	padding: 0;
	line-height: 1.2em;
}

h4,
h5,
h6 {
	font-family: $secfont;
	font-weight: 600;
	margin: 0 0 25px;
	padding: 0;
	line-height: 1em;
}

h1 {
	font-size: 64px;
	color: $dkblue;

	@media only screen and (max-width: $mediumdevice) {
		font-size: 45px;
	}
}

h2 {
	/* State-Of-The-Art Tec: */
	font-size: 48px;
	color: $teal;
	margin-bottom: 15px;

	@media only screen and (max-width: $mediumdevice) {
		font-size: 38px;
	}
}

h3 {
	/* Supreme Technology: */
	font-weight: 600;
	font-size: 35px;
	color: $dkblue;
	margin-bottom: 15px;

	@media only screen and (max-width: $mediumdevice) {
		font-size: 28px;
	}
}

h4 {
    font-size: 25px;
    line-height: 1.2em;
	color: $teal;
	margin-bottom: 15px;

	@media only screen and (max-width: $mediumdevice) {

	}
}

h5 {
	font-size: 21px;
	color: $teal;

	@media only screen and (max-width: $mediumdevice) {

	}
}

// Paragraph
p {
	font-weight: 300;
	font-size: 20px;
	color: $grey;
	line-height: 30px;
	margin: 0 0 25px;
}


blockquote {
	background: $teal;
	padding: 20px;
	color: white;
	position: relative;
	font-size: 25px;

	&:after {
		top: 100%;
		right: 30px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(40, 183, 191, 0);
		border-top-color: $teal;
		border-width: 12px;
	}	
}