*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: $mainfont;
	font-size: 16px;
	font-weight: 300;

	&.active {
		overflow: hidden;
	}
}

// Links
a {
	@include trans;
	text-decoration: none;
	cursor: pointer;
}

// Images
img {
	height: auto;
	max-width: 100%;
}

// Media
iframe {
	max-width: 100%;
}

// Miscellaneous
hr {
	margin: 2em 0;
	height: 1px;
	border: 0;
	background: $gray-70;
}

// Structure
section {
	@include bgcover;
	position: relative;
	padding: $sectionpadding 5%;

	&.full {
		padding: 0;
	}

	// Inner content wrapper
	.wrapper {
		@include clearfix;
		position: relative;
		margin: 0 auto;
		max-width: $large-max-width;
	}

	@media only screen and (max-width: $mediumdevice) {
		padding-top: $sectionpadding/2;
		padding-bottom: $sectionpadding/2;
	}
}
