// Primary Colors
$primary: #404040;
$black: black;
$teal: #28b7bf;
$brightteal: #93DDDF;
$dkteal: #26B7BA;
$dkblue: #222D40;
$grey: #5D636B;
$ltteal: #93DDDF;

// Grays
$base: #222325; // Base gray

$gray-10: lighten($base, 10%);
$gray-20: lighten($base, 20%);
$gray-30: lighten($base, 30%);
$gray-40: lighten($base, 40%);
$gray-50: lighten($base, 50%);
$gray-60: lighten($base, 60%);
$gray-70: lighten($base, 70%);
$gray-80: lighten($base, 80%);
$gray-90: lighten($base, 90%);

// Fonts
$mainfont: "futura-pt",sans-serif; // 300, 600, 700
$secfont: "futura-pt",sans-serif;

// Icons
$iconfont: '';
$canvas-icons: 'canvas';

// Structure
$gutter: 30px;
$sectionpadding: 5em;

// Heights
$utilheight: 40px;
$navheight: 80px;
$mobilebarheight: 55px;
$headerheight: 90px;

// Widths
$extralarge-max-width: 1600px;
$large-max-width: 1140px;
$small-max-width: 960px;
$content-width: 820px;

// Grid
$grid-width: 96%;

// Breakpoints
$largedesktop: 1400px;
$desktop: 1240px;
$largedevice: 1120px;
$mediumlargedevice: 1060px;
$mediumdevice: 800px;
$smalldevice: 480px;

// Box Shadow
$default-box-shadow: 0 0 40px rgba(0,0,0,0.1);
$inset-box-shadow: 2px 12px 18px -9px rgba(0,0,0,0.25);
